.container {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
}

.textContainer {
  max-width: 85%;
  align-self: flex-start;
  background-color: darkgrey;
  border-radius: 6px;
  margin-top: 2px;
  padding-top: 0px;
  padding: 10px;
}

.textContainerCurrentUser {
  align-self: flex-end;
  background-color: lightgrey;
}

.text {
  margin: 0px;
  white-space: pre-line;
}

.nameText {
  margin: 0px;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}
