.appLogo {
  animation: appLogoSpin infinite 20s linear;
  height: 40px;
  width: 40px;
}

.header {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 40px;
}

.headerText {
  color: white;
  font-size: 16px;
  margin: 0px;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
